/* Locally hosted font (TTF) */
@font-face {
    font-family: 'Figtree';
    src: url('assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

/* Apply styles */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
}

h1 {
    font-family: 'Poppins', sans-serif;
    color: #333;
}

.google-font {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #007BFF;
}

.local-font {
    font-family: 'Figtree', sans-serif;
    font-size: 20px;
    color: #FF5733;
}
